.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;

  .input {
    border-radius: $radius;
    background-color: #fff;
  }
  .clean {
    cursor: pointer;

    :hover {
      box-shadow: 0 0 1px 1px $grey-700;
      border-radius: 6px;
    }
  }
}
