.header {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 2px 2px #cccccc;
  padding: 0 0.6em;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
  }
}
.title {
  font-size: $fs-xs;
  text-align: right;
  text-wrap: balance;
}
.logo img {
  width: 185px;
  padding: 0.5em;

  &:hover {
    transform: scale(1.2);
    transition: transform 500ms;
  }
}
